@charset "UTF-8";

.quiz-section {
    max-width: 680px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.quiz-section img {
    width: 600px;
    height: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
}

.quiz-section p#feedbackMessage {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

.quiz-section h2#correctAnswer {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #008000;
}

.quiz-section form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 100%;
}

.quiz-section form label {
    font-size: 1rem;
    color: #555;
}

.quiz-section form input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, background-color 0.3s;
}

.quiz-section form input[type="text"]:focus {
    border-color: #007bff;
    background-color: #f0f8ff;
    outline: none;
}

.quiz-section form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quiz-section form button:hover {
    background-color: #0056b3;
}

.quiz-section button#nextButton {
    margin: 20px auto 0;
    display: block;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quiz-section button#nextButton:hover {
    background-color: #1e7e34;
}
